.container-small-card {
  display: flex;
  width: 37rem;
  height: 10rem;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.container-small-card:hover {
  transform: scale(1.1);
}

.container-small-card > a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.small-card-photo {
  display: flex;
}

.small-card-date-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.date {
  padding-left: 1.4rem;
  opacity: 0.3;
  font-size: 0.688rem;
  text-align: left;
}

.small-card-title {
  padding-left: 1.4rem;
  font-size: 0.9rem;
}

hr {
  opacity: 0.3;
  display: block;
  align-items: flex-end;
  justify-content: flex-end;
}
